* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button,
.button {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 7px 10px;
  display: inline-flex;
  outline: none;
}

.flex-container {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 45%;
  min-width: 45%;
}

.half-width-full {
  width: 50%;
  min-width: 50%;
}

.one-third-width {
  width: 31%;
  min-width: 31%;
}

.one-fourth-width {
  width: 23%;
  min-width: 23%;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.display-none {
  display: none;
}

.padding-horizontal-default {
  padding-left: 5%;
  padding-right: 5%;
}

.padding-vertical-default {
  padding-top: clamp(50px, 7vw, 100px);
  padding-bottom: clamp(50px, 7vw, 100px);
}

.list-style-none {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

.title {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4vw, 3rem);
  text-align: center;
}

.subtitle {
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

.colored {
  color: #5994FF;
}

body {
  font-family: "Fira Code", monospace;
  background: #121212;
  color: white;
}
body .modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
body .modal .mobile-nav-link {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  position: absolute;
  right: -500px;
  top: 0px;
  background: white;
  color: black;
  font-family: "Noto Sans", sans-serif;
  padding: 0px 20px;
  transition: 0.5s ease all;
}
body .modal .mobile-nav-link .mobile-nav-link-header {
  padding: 30px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
body .modal .mobile-nav-link .mobile-nav-link-header .logo {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}
body .modal .mobile-nav-link .mobile-nav-link-header .close-mobile-nav-button {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
}
body .modal .mobile-nav-link .mobile-links {
  padding: 30px 0px;
}
body .modal .mobile-nav-link .mobile-links li a {
  color: black;
  font-size: 1.2rem;
}
body .modal .mobile-nav-link .mobile-links li:not(:first-child) {
  margin-top: 30px;
}
body .page-loader {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
}
body .page-loader h2 {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
body .page-loader .page-loading-animation {
  width: 200px;
  height: 10px;
  background: white;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  position: relative;
  overflow: hidden;
}
body .page-loader .page-loading-animation .loading-animation-inner-loader {
  width: 30%;
  height: 100%;
  background: #5994FF;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  animation: loader 1s ease infinite;
  -webkit-animation: loader 1s ease infinite;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0px;
}
@-webkit-keyframes loader {
  0% {
    left: 0px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -30%;
  }
}
@keyframes loader {
  0% {
    left: 0px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -30%;
  }
}
body .nav-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background: #575757;
  font-family: poppins;
}
body .nav-bar a {
  color: black;
}
body .nav-bar .logo {
  font-weight: bold;
  font-size: 1.5rem;
}
body .nav-bar .nav-link-container .nav-link:not(:first-child) {
  margin-left: 20px;
}
body .nav-bar .open-mobile-link-btn {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 1.5rem;
}
body .nav-bar .mobile-link {
  display: none;
}
body .main-body {
  min-height: 100vh;
}
body .main-body .hero-section {
  width: 100%;
  height: 658px;
  padding-top: 80px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
body .main-body .hero-section .hero-content {
  flex: 1;
  position: relative;
}
body .main-body .hero-section .hero-content .hero-name-container .line {
  width: clamp(30px, 8vw, 150px);
  height: 3px;
  background: white;
}
body .main-body .hero-section .hero-content .hero-name-container .hero-name {
  margin-left: 7px;
  font-size: clamp(1rem, 2vw, 1.7rem);
  font-weight: 500;
}
body .main-body .hero-section .hero-content .hero-title {
  font-size: clamp(1.1rem, 3vw, 2.5rem);
  margin-top: 20px;
}
body .main-body .hero-section .hero-content .hero-title .code {
  color: #5994FF;
}
body .main-body .hero-section .hero-content .hero-subtitle {
  font-size: clamp(1rem, 1vw, 1.3rem);
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}
body .main-body .hero-section .hero-content .hero-cta {
  border-radius: 5px;
  background: #5994FF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 20px;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 10px 20px;
}
body .main-body .hero-section .hero-content .arrow {
  position: absolute;
  max-width: 200px;
  bottom: 10px;
  left: 180px;
}
body .main-body .hero-section .hero-image {
  width: 100%;
  max-width: 406px;
}
body .main-body .hero-section .hero-image img {
  max-width: 100%;
}
body .main-body .hero-section .code-image {
  position: absolute;
  max-width: clamp(100px, 20vw, 300px);
  top: calc(100% + 20px);
  right: calc(100% - clamp(100px, 20vw, 300px) + 10px);
}
body .main-body .qualities-section {
  background: black;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -50px;
}
body .main-body .qualities-section .quality-card .quality-card-title {
  font-size: 2rem;
}
body .main-body .qualities-section .quality-card .quality-card-content {
  margin-top: 15px;
}
body .main-body .experience-section,
body .main-body .skills-section,
body .main-body .works-section,
body .main-body .contact-section,
body .main-body .testimonial-section {
  font-family: "Noto Sans", sans-serif;
  position: relative;
}
body .main-body .experience-section .experience-container {
  margin-top: 40px;
}
body .main-body .experience-section .experience-container .experience-content .content-title {
  font-size: clamp(1.5rem, 3.4vw, 2.8rem);
  font-weight: 500;
  max-width: 450px;
}
body .main-body .experience-section .experience-container .experience-content .experience-details .experience-details-design {
  width: 40px;
}
body .main-body .experience-section .experience-container .experience-content .experience-details .experience-details-design .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #5994FF;
  font-size: 1.3rem;
}
body .main-body .experience-section .experience-container .experience-content .experience-details .experience-details-design .line {
  width: 3px;
  height: calc(100% - 48px);
  margin: 4px 0px;
  background: #5994FF;
}
body .main-body .experience-section .experience-container .experience-content .experience-details .experience-details-content {
  flex: 1;
  margin-left: 20px;
  padding-bottom: 30px;
}
body .main-body .experience-section .experience-container .experience-content .experience-details .experience-details-content .experience-date {
  background: #575757;
  height: 40px;
  padding: 5px 20px;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
body .main-body .experience-section .experience-container .experience-content .experience-details .experience-details-content .experience-details-title {
  margin-top: 10px;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  text-transform: uppercase;
}
body .main-body .experience-section .experience-container .experience-content .experience-details .experience-details-content .experience-details-title .inner-title {
  font-size: 1rem;
}
body .main-body .experience-section .experience-container .experience-content .experience-details .experience-details-content .experience-details-list {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.8);
}
body .main-body .experience-section .experience-container .experience-content .experience-details .experience-details-content .experience-details-list li:not(:first-child) {
  margin-top: 10px;
}
body .main-body .experience-section .experience-container .experience-content .cv-btn {
  border: 2px solid #5994FF;
  margin-left: 60px;
  color: #5994FF;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
body .main-body .skills-section .skills-container {
  margin-top: 40px;
}
body .main-body .skills-section .skills-container .skills-content .skills-content-title {
  transform: rotateZ(-90deg);
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -o-transform: rotateZ(-90deg);
}
body .main-body .skills-section .skills-container .skills-content .skills-content-title h2 {
  font-size: clamp(1rem, 2vw, 1.3rem);
  color: rgba(255, 255, 255, 0.4);
}
body .main-body .skills-section .skills-container .skills-content .skills-content-skills {
  flex: 1;
}
body .main-body .skills-section .skills-container .skills-content .skills-content-skills .content-one {
  width: 100%;
  margin-bottom: 20px;
}
body .main-body .skills-section .skills-container .skills-content .skills-content-skills .content-one .skill-set-card .skills-set {
  width: clamp(40px, 6vw, 60px);
  height: clamp(40px, 6vw, 60px);
  border-radius: 50%;
  background: conic-gradient(#5994FF 320deg, white 0deg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
}
body .main-body .skills-section .skills-container .skills-content .skills-content-skills .content-one .skill-set-card .skills-set .skills-set-percentage {
  position: absolute;
  background: black;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.7rem, 1.1vw, 1.5rem);
}
body .main-body .skills-section .skills-container .skills-content .skills-content-skills .content-one .skill-set-card .skill-text {
  margin-top: 10px;
  font-size: clamp(0.8rem, 1.5vw, 1.1rem);
  text-align: center;
}
body .main-body .skills-section .skills-container .skills-content:first-child .skills-content-title {
  margin-left: -30px;
}
body .main-body .works-section .works-cards-container {
  margin-top: 60px;
}
body .main-body .works-section .works-cards-container .work-card {
  max-width: 360px;
  min-width: unset;
}
body .main-body .works-section .works-cards-container .work-card .work-card-image {
  width: 100%;
  height: clamp(370px, 30vw, 430px);
  background: rgba(255, 255, 255, 0.1);
  -webkit-clip-path: polygon(17% 0, 84% 0, 100% 13%, 100% 83%, 84% 100%, 14% 100%, 0 84%, 0 15%);
  clip-path: polygon(17% 0, 84% 0, 100% 13%, 100% 83%, 84% 100%, 14% 100%, 0 84%, 0 15%);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-body .works-section .works-cards-container .work-card .work-card-image .work-image-inner {
  width: 97%;
  height: 97%;
  -webkit-clip-path: polygon(17% 0, 84% 0, 100% 13%, 100% 83%, 84% 100%, 14% 100%, 0 84%, 0 15%);
  clip-path: polygon(17% 0, 84% 0, 100% 13%, 100% 83%, 84% 100%, 14% 100%, 0 84%, 0 15%);
}
body .main-body .works-section .works-cards-container .work-card .work-card-image .work-image-inner img {
  width: 100%;
  height: 100%;
}
body .main-body .works-section .works-cards-container .work-card .work-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 20px;
}
body .main-body .contact-section .contact-container {
  margin-top: 30px;
}
body .main-body .contact-section .contact-container .contact-content .description {
  font-size: 1.5rem;
}
body .main-body .contact-section .contact-container .contact-content .contact-details {
  margin-top: 20px;
}
body .main-body .contact-section .contact-container .contact-content .contact-details .contact-details-title {
  font-weight: 500;
}
body .main-body .contact-section .contact-container .contact-content .contact-details .contact-details-content {
  margin-top: 10px;
  color: white;
}
body .main-body .contact-section .contact-container .contact-content .contact-details .contact-details-content:not(.flex-container) {
  display: inline-block;
}
body .main-body .contact-section .contact-container .contact-content .contact-details .contact-details-content .text {
  margin-left: 10px;
}
body .main-body .contact-section .contact-container .contact-content .contact-details .contact-details-content li a {
  font-size: 1.7rem;
  color: white;
}
body .main-body .contact-section .contact-container .contact-content .contact-details .contact-details-content li:not(:first-child) {
  margin-left: 10px;
}
body .main-body .contact-section .contact-container .contact-content form {
  width: 100%;
}
body .main-body .contact-section .contact-container .contact-content form textarea, body .main-body .contact-section .contact-container .contact-content form input {
  width: 100%;
  color: white;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 0px 10px;
  background: rgba(255, 255, 255, 0.4);
  outline: none;
  border: none;
  margin-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
}
body .main-body .contact-section .contact-container .contact-content form textarea::-moz-placeholder, body .main-body .contact-section .contact-container .contact-content form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
body .main-body .contact-section .contact-container .contact-content form textarea:-ms-input-placeholder, body .main-body .contact-section .contact-container .contact-content form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
body .main-body .contact-section .contact-container .contact-content form textarea::placeholder, body .main-body .contact-section .contact-container .contact-content form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
body .main-body .contact-section .contact-container .contact-content form textarea {
  height: 150px;
  padding: 10px;
}
body .main-body .contact-section .contact-container .contact-content form input {
  height: 45px;
}
body .main-body .contact-section .contact-container .contact-content form input.half-input-width {
  width: 48%;
}
@media only screen and (max-width: 371px) {
  body .main-body .contact-section .contact-container .contact-content form input.half-input-width {
    width: 100%;
  }
}
body .main-body .contact-section .contact-container .contact-content form button {
  padding: 15px 20px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  color: #5994FF;
  border: 2px solid #5994FF;
}
body .main-body .contact-section .contact-container .contact-content form button .text {
  margin-left: 10px;
  font-weight: 500;
}
body .main-body .testimonial-section .testimonial-cards-container {
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
}
body .main-body .testimonial-section .testimonial-cards-container .testimonial-card {
  padding: 20px;
  background: #E9FBFF;
  color: black;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  width: 100%;
  max-width: 300px;
  flex-shrink: 0;
  min-width: unset;
}
body .main-body .testimonial-section .testimonial-cards-container .testimonial-card:not(:first-child) {
  margin-left: 20px;
}
body .main-body .testimonial-section .testimonial-cards-container .testimonial-card q {
  font-size: 1.1rem;
  font-weight: 500;
}
body .main-body .testimonial-section .testimonial-cards-container .testimonial-card .review-details {
  margin-top: 10px;
}
body .main-body .testimonial-section .testimonial-cards-container .testimonial-card .review-details .review-image {
  min-width: 50px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
body .main-body .testimonial-section .testimonial-cards-container .testimonial-card .review-details .review-details-content {
  margin-left: 10px;
}
body .main-body .testimonial-section .testimonial-cards-container .testimonial-card .review-details .review-details-content .review-position {
  font-size: 0.85rem;
  margin-top: 5px;
}
body .main-body .testimonial-section .testimonial-progress-bar-container .progress-bar {
  width: 100%;
  max-width: 300px;
  height: 10px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background: white;
  margin-top: 50px;
  overflow: hidden;
}
body .main-body .testimonial-section .testimonial-progress-bar-container .progress-bar .progress-bar-active {
  width: 50%;
  height: 100%;
  background: #5994FF;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
body .footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid black;
}
body .footer p {
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: white;
}
@media only screen and (max-width: 996px) {
  body .nav-bar .desktop-link {
    display: none;
  }
  body .nav-bar .mobile-link {
    display: block;
  }
  body .nav-bar .mobile-link.flex-container {
    display: flex;
  }
  body .main-body .hero-section {
    height: unset;
    padding-bottom: 80px;
    padding-top: 130px;
  }
  body .main-body .hero-section .hero-content {
    width: 100%;
    flex: unset;
  }
  body .main-body .hero-section .code-image {
    z-index: -1;
  }
  body .main-body .skills-section .skills-container .skills-content {
    width: 100%;
  }
  body .main-body .skills-section .skills-container .skills-content .skills-content-title {
    margin-left: -30px;
  }
  body .main-body .skills-section .skills-container .skills-content .skills-content-skills {
    margin-left: -15px;
  }
  body .main-body .skills-section .skills-container .skills-content:not(:first-child) {
    margin-top: 40px;
  }
  body .main-body .works-section .works-cards-container {
    flex-direction: column;
    align-items: center;
  }
  body .main-body .works-section .works-cards-container .work-card {
    width: 100%;
  }
  body .main-body .works-section .works-cards-container .work-card:not(:first-child) {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 572px) {
  body .main-body .qualities-section .quality-card {
    width: 100%;
  }
  body .main-body .qualities-section .quality-card:not(:first-child) {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 874px) {
  body .main-body .experience-section .experience-container .experience-content {
    width: 100%;
  }
  body .main-body .experience-section .experience-container .experience-content:not(:first-child) {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 700px) {
  body .main-body .contact-section .contact-container .contact-content {
    width: 100%;
  }
  body .main-body .contact-section .contact-container .contact-content:not(:first-child) {
    margin-top: 30px;
  }
}/*# sourceMappingURL=index.css.map */